---
import MainLayout from '../../layouts/main-layout.astro'
import { getAllProducts } from '../../lib/contentful-request'
import ProductCard from '@components/product-card.astro'

const products = await getAllProducts()
const content = { 
  title: 'Dispositivos e Implementos de seguridad',
  description: 'Venta y distribución de dispositivos de seguridad, proteccion vial, cintas de seguridad y equpos de epp',
  image: '/assets/images/banner-seguridad.webp'
}
---

<MainLayout {content} >
  <div>
    <ul class="grid grid-cols-2 md:grid-cols-4 gap-2">
      {products.map(product => <ProductCard product={product} />)}
    </ul>
  </div>
</MainLayout>
