---
import MainLayout from '../../layouts/main-layout.astro'
import { getAllProducts } from '../../lib/contentful-request'
import ProductCard from '@components/product-card.astro'
import { Props } from '@components/product-card.astro'

const products = await getAllProducts()
const allCategories = products.map(product => product.category)
const categories = Array.from(new Set(allCategories))
---

<MainLayout title="Dispositivos e Implementos de Seguridad">
  <div>
    <ul class="grid grid-cols-2 md:grid-cols-4 gap-2">
      {products.map(product => <ProductCard product={product} />)}
    </ul>
  </div>
</MainLayout>
