---
import MainLayout from '../../layouts/main-layout.astro'
import { getAllProducts } from '../../lib/contentful-request'
import ProductCard from '@components/product-card.astro'
import manifest from '../../config/manifest.json'
import PageNavigation from '@components/page-navigation/page-navigation.astro'

const products = await getAllProducts()
const content = {
	title: 'Dispositivos e Implementos de seguridad',
	description:
		'Venta y distribución de dispositivos de seguridad, proteccion vial, cintas de seguridad y equpos de epp',
	image: '/assets/images/banner-seguridad.webp',
}
---

<MainLayout {content}>
	<!--Page Navigation -->
	<PageNavigation navigation={manifest.routes[1].routes} />
	<div class="grid grid-cols-2 md:grid-cols-4 gap-2 px-4 md:px-0">
		{products.map((product) => <ProductCard product={product} />)}
	</div>
</MainLayout>
