---
import MainLayout from '../../layouts/main-layout.astro'
import { getAllProducts } from '../../lib/contentful-request'
import ProductCard from '@components/product-card.astro'

const products = await getAllProducts()
---

<MainLayout >
  <div>
    <ul class="grid grid-cols-2 md:grid-cols-4 gap-2">
      {products.map(product => <ProductCard product={product} />)}
    </ul>
  </div>
</MainLayout>
