---
import MainLayout from '@layouts/main-layout.astro'
import { Picture } from '@astrojs/image/components'
import  HeaderPage from '@components/page-header/page-header.astro'
const posts = (await Astro.glob('../posts/*.mdx'))
const content = {
	title: 'Posts',
	description: 'Posts de señalizaciones e implementos de seguridad',
	image: '/assets/images/chevron.webp',
}

console.log(posts[0].frontmatter.image)

---
<MainLayout {content} >
    <HeaderPage title='Posts' />
   <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {
          posts.map((post, index) => (
            <li class="list-none">
              <a href={post.url}>
                <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                  <img
                    src={'https://tellsenales.com' + post.frontmatter.image}
                    widths={[200, 400, 800]}
                    sizes="(max-width: 800px) 100vw, 800px"
                    aspectRatio="16:9"
                    alt="Thumbnail"
                    loading={index === 0 ? "eager" : "lazy"}
                    class="w-full rounded-md aspect-video"
                  />
                  <div>
                    <h2 class="text-3xl font-semibold leading-snug tracking-tight  ">
                      {post.frontmatter.title}
                    </h2>
                    <div class="flex gap-2 mt-3">
                      <p class="text-gray-400">
                        {post.frontmatter.description}
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
</MainLayout>
