.dark {
/* :root[data-theme="dark"] { */
  --colors-background: var(--colors-black);
  --colors-backgroundAlpha: rgba(0, 0, 0, 0.6);
  --colors-foreground: var(--colors-white);
  --colors-backgroundContrast: var(--colors-accents0);
  --colors-blue50: #10253e;
  --colors-blue100: #102c4c;
  --colors-blue200: #0f3158;
  --colors-blue300: #0d3868;
  --colors-blue400: #0a4281;
  --colors-blue500: #0952a5;
  --colors-blue600: #0072f5;
  --colors-blue700: #3694ff;
  --colors-blue800: #3694ff;
  --colors-blue900: #eaf4ff;
  --colors-purple50: #1f0a33;
  --colors-purple100: #240c3c;
  --colors-purple200: #2e0f4d;
  --colors-purple300: #3b1362;
  --colors-purple400: #451773;
  --colors-purple500: #571d91;
  --colors-purple600: #7828c8;
  --colors-purple700: #9750dd;
  --colors-purple800: #b583e7;
  --colors-purple900: #f7ecfc;
  --colors-green50: #042f14;
  --colors-green100: #06381b;
  --colors-green200: #074a24;
  --colors-green300: #0a6130;
  --colors-green400: #0b7439;
  --colors-green500: #0f9549;
  --colors-green600: #17c964;
  --colors-green700: #41ec8b;
  --colors-green800: #78f2ad;
  --colors-green900: #ecfdf4;
  --colors-yellow50: #3a2503;
  --colors-yellow100: #442b03;
  --colors-yellow200: #583804;
  --colors-yellow300: #704705;
  --colors-yellow400: #845306;
  --colors-yellow500: #a66908;
  --colors-yellow600: #f5a524;
  --colors-yellow700: #f6ad37;
  --colors-yellow800: #f8c572;
  --colors-yellow900: #fef7ec;
  --colors-red50: #300313;
  --colors-red100: #300313;
  --colors-red200: #44041a;
  --colors-red300: #5c0523;
  --colors-red400: #6f062b;
  --colors-red500: #910838;
  --colors-red600: #f31260;
  --colors-red700: #f4256d;
  --colors-red800: #f75f94;
  --colors-red900: #fdd8e5;
  --colors-cyan50: #012a32;
  --colors-cyan100: #023a46;
  --colors-cyan200: #024b5a;
  --colors-cyan300: #036072;
  --colors-cyan400: #037086;
  --colors-cyan500: #048ea9;
  --colors-cyan600: #06b7db;
  --colors-cyan700: #33d9fa;
  --colors-cyan800: #6fe4fb;
  --colors-cyan900: #ebfbfe;
  --colors-pink50: #330025;
  --colors-pink100: #470033;
  --colors-pink200: #5c0042;
  --colors-pink300: #750054;
  --colors-pink400: #8a0063;
  --colors-pink500: #ad007c;
  --colors-pink600: #ff4ecd;
  --colors-pink700: #ff2ec4;
  --colors-pink800: #ff6bd5;
  --colors-pink900: #ffebf9;
  --colors-gray50: #16181a;
  --colors-gray100: #26292b;
  --colors-gray200: #2b2f31;
  --colors-gray300: #313538;
  --colors-gray400: #3a3f42;
  --colors-gray500: #4c5155;
  --colors-gray600: #697177;
  --colors-gray700: #787f85;
  --colors-gray800: #9ba1a6;
  --colors-gray900: #ecedee;
  --colors-primaryLight: var(--colors-blue50);
  --colors-primaryLightHover: var(--colors-blue100);
  --colors-primaryLightActive: var(--colors-blue200);
  --colors-primaryLightContrast: var(--colors-blue600);
  --colors-secondaryLight: var(--colors-purple50);
  --colors-secondaryLightHover: var(--colors-purple100);
  --colors-secondaryLightActive: var(--colors-purple200);
  --colors-secondaryLightContrast: var(--colors-purple800);
  --colors-secondary: var(--colors-purple700);
  --colors-secondaryBorder: var(--colors-purple500);
  --colors-secondaryBorderHover: var(--colors-purple600);
  --colors-secondarySolidHover: var(--colors-purple700);
  --colors-secondaryShadow: var(--colors-purple500);
  --colors-successLight: var(--colors-green50);
  --colors-successLightHover: var(--colors-green100);
  --colors-successLightActive: var(--colors-green200);
  --colors-warningLight: var(--colors-yellow50);
  --colors-warningLightHover: var(--colors-yellow100);
  --colors-warningLightActive: var(--colors-yellow200);
  --colors-errorLight: var(--colors-red50);
  --colors-errorLightHover: var(--colors-red100);
  --colors-errorLightActive: var(--colors-red200);
  --colors-errorLightContrast: var(--colors-red700);
  --colors-neutralLight: var(--colors-gray200);
  --colors-neutralLightHover: var(--colors-gray300);
  --colors-neutralLightActive: var(--colors-gray400);
  --colors-neutralSolidContrast: var(--colors-white);
  --colors-text: var(--colors-gray900);
  --colors-link: var(--colors-blue700);
  --colors-codeLight: var(--colors-cyan50);
  --colors-code: var(--colors-cyan600);
  --colors-selection: var(--colors-pink800);
  --colors-border: rgba(255, 255, 255, 0.15);
  --colors-menuBackground: rgba(0, 0, 0, 0.5);
  --colors-headerBackground: rgba(0, 0, 0, 0.5);
  --colors-headerIconColor: var(--colors-accents8);
  --colors-codeBackground: #111111;
  --colors-codeComment: var(--colors-accents6);
  --colors-codeCopyIconColor: var(--colors-accents7);
  --colors-codeHighlight: hsl(0, 0%, 15%);
  --colors-cardBackground: var(--colors-accents0);
  --colors-backgroundBlur: rgba(255, 255, 255, 0.1);
  --colors-blockLinkColor: #ffa4e3;
  --colors-blockLinkBackground: var(--colors-accents1);
  --colors-blockLinkHoverBackground: #55057a;
  --shadows-xs: 0 2px 8px 1px rgb(0 0 0 / 0.07),
    0 1px 1px -1px rgb(0 0 0 / 0.04);
  --shadows-sm: 0 2px 8px 2px rgb(0 0 0 / 0.07),
    0 2px 4px -1px rgb(0 0 0 / 0.04);
  --shadows-md: 0 12px 20px 6px rgb(0 0 0 / 0.08);
  --shadows-lg: 0 12px 34px 6px rgb(0 0 0 / 0.18);
  --shadows-xl: 0 25px 65px 0px rgb(0 0 0 / 0.35);
  --dropShadows-xs: drop-shadow(0 2px 4px rgb(0 0 0 / 0.07))
    drop-shadow(0 1px 1px rgb(0 0 0 / 0.04));
  --dropShadows-sm: drop-shadow(0 2px 8px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 4px rgb(0 0 0 / 0.04));
  --dropShadows-md: drop-shadow(0 4px 12px rgb(0 0 0 / 0.08))
    drop-shadow(0 20px 8px rgb(0 0 0 / 0.04));
  --dropShadows-lg: drop-shadow(0 12px 24px rgb(0 0 0 / 0.15))
    drop-shadow(0 12px 14px rgb(0 0 0 / 0.1));
  --dropShadows-xl: drop-shadow(0 25px 34px rgb(0 0 0 / 0.35));
}

