.light {
/* :root[data-theme="light"] { */
  --colors-background: var(--colors-white);
  --colors-backgroundAlpha: rgba(255, 255, 255, 0.8);
  --colors-foreground: var(--colors-black);
  --colors-backgroundContrast: var(--colors-white);
  --colors-blue50: #edf5ff;
  --colors-blue100: #e1efff;
  --colors-blue200: #cee4fe;
  --colors-blue300: #b7d5f8;
  --colors-blue400: #96c1f2;
  --colors-blue500: #5ea2ef;
  --colors-blue600: #0072f5;
  --colors-blue700: #005fcc;
  --colors-blue800: #004799;
  --colors-blue900: #00254d;
  --colors-purple50: #f7f2fd;
  --colors-purple100: #f1e8fb;
  --colors-purple200: #eadcf8;
  --colors-purple300: #e0cbf5;
  --colors-purple400: #d1b1f0;
  --colors-purple500: #bc8ee9;
  --colors-purple600: #7828c8;
  --colors-purple700: #6622aa;
  --colors-purple800: #4d1980;
  --colors-purple900: #290e44;
  --colors-green50: #f1fdf7;
  --colors-green100: #e8fcf1;
  --colors-green200: #dafbe8;
  --colors-green300: #c8f9dd;
  --colors-green400: #adf5cc;
  --colors-green500: #88f1b6;
  --colors-green600: #17c964;
  --colors-green700: #13a452;
  --colors-green800: #108944;
  --colors-green900: #06371b;
  --colors-yellow50: #fef9f0;
  --colors-yellow100: #fef5e7;
  --colors-yellow200: #fdefd8;
  --colors-yellow300: #fce7c5;
  --colors-yellow400: #fbdba7;
  --colors-yellow500: #f9cb80;
  --colors-yellow600: #f5a524;
  --colors-yellow700: #b97509;
  --colors-yellow800: #925d07;
  --colors-yellow900: #4e3104;
  --colors-red50: #fef0f5;
  --colors-red100: #fee7ef;
  --colors-red200: #fdd8e5;
  --colors-red300: #fcc5d8;
  --colors-red400: #faa8c5;
  --colors-red500: #f881ab;
  --colors-red600: #f31260;
  --colors-red700: #b80a47;
  --colors-red800: #910838;
  --colors-red900: #4e041e;
  --colors-cyan50: #f0fcff;
  --colors-cyan100: #e6fafe;
  --colors-cyan200: #d7f8fe;
  --colors-cyan300: #c3f4fd;
  --colors-cyan400: #a5eefd;
  --colors-cyan500: #7ee7fc;
  --colors-cyan600: #06b7db;
  --colors-cyan700: #09aacd;
  --colors-cyan800: #0e8aaa;
  --colors-cyan900: #053b48;
  --colors-pink50: #fff0fb;
  --colors-pink100: #ffe5f8;
  --colors-pink200: #ffd6f3;
  --colors-pink300: #ffc2ee;
  --colors-pink400: #ffa3e5;
  --colors-pink500: #ff7ad9;
  --colors-pink600: #ff4ecd;
  --colors-pink700: #d6009a;
  --colors-pink800: #b80084;
  --colors-pink900: #4d0037;
  --colors-gray50: #f1f3f5;
  --colors-gray100: #eceef0;
  --colors-gray200: #e6e8eb;
  --colors-gray300: #dfe3e6;
  --colors-gray400: #d7dbdf;
  --colors-gray500: #c1c8cd;
  --colors-gray600: #889096;
  --colors-gray700: #7e868c;
  --colors-gray800: #687076;
  --colors-gray900: #11181c;
  --colors-text: var(--colors-gray900);
  --colors-link: var(--colors-blue600);
  --colors-codeLight: var(--colors-pink100);
  --colors-code: var(--colors-pink600);
  --colors-selection: var(--colors-blue200);
  --colors-border: rgba(0, 0, 0, 0.15);
  --colors-headerBackground: hsla(0, 0%, 100%, 0.8);
  --colors-menuBackground: rgba(255, 255, 255, 0.8);
  --colors-headerIconColor: var(--colors-accents4);
  --colors-codeBackground: #363449;
  --colors-codeComment: var(--colors-accents7);
  --colors-codeCopyIconColor: var(--colors-accents2);
  --colors-cardBackground: var(--colors-white);
  --colors-codeHighlight: hsl(243, 16%, 30%);
  --colors-backgroundBlur: rgba(255, 255, 255, 0.3);
  --colors-blockLinkColor: #ff1cf7;
  --colors-blockLinkBackground: var(--colors-accents1);
  --colors-blockLinkHoverBackground: #ffd1ed;
  --shadows-xs: 0 2px 8px 1px rgb(104 112 118 / 0.07),
    0 1px 1px -1px rgb(104 112 118 / 0.04);
  --shadows-sm: 0 2px 8px 2px rgb(104 112 118 / 0.07),
    0 2px 4px -1px rgb(104 112 118 / 0.04);
  --shadows-md: 0 12px 20px 6px rgb(104 112 118 / 0.08);
  --shadows-lg: 0 12px 34px 6px rgb(104 112 118 / 0.18);
  --shadows-xl: 0 25px 65px 0px rgb(104 112 118 / 0.35);
  --dropShadows-xs: drop-shadow(0 2px 4px rgb(104 112 118 / 0.07))
    drop-shadow(0 1px 1px rgb(104 112 118 / 0.04));
  --dropShadows-sm: drop-shadow(0 2px 8px rgb(104 112 118 / 0.07))
    drop-shadow(0 2px 4px rgb(104 112 118 / 0.04));
  --dropShadows-md: drop-shadow(0 4px 12px rgb(104 112 118 / 0.08))
    drop-shadow(0 20px 8px rgb(104 112 118 / 0.04));
  --dropShadows-lg: drop-shadow(0 12px 24px rgb(104 112 118 / 0.15))
    drop-shadow(0 12px 14px rgb(104 112 118 / 0.1));
  --dropShadows-xl: drop-shadow(0 25px 34px rgb(104 112 118 / 0.35));
}

