RewriteOptions inherit

RewriteEngine on
ErrorDocument 404 /404.html

RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.tellsenales.com [NC]
RewriteRule ^(.*)$ http://tellsenales.com/$1 [L,R=301,NC] 
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Proteccion vial
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^seguridad\/proteccion\-vial$ "https\:\/\/tellsenales\.com\/seguridad\/c\/proteccion\-vial\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^seguridad\/proteccion\-vial\/$ "https\:\/\/tellsenales\.com\/seguridad\/c\/proteccion\-vial\/" [R=301,L]

# Cintas seguridad
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^seguridad\/cintas\-seguridad$ "https\:\/\/tellsenales\.com\/seguridad\/c\/cintas\-seguridad\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^seguridad\/cintas\-seguridad\/$ "https\:\/\/tellsenales\.com\/seguridad\/c\/cintas\-seguridad\/" [R=301,L]

# Articulos Seguridad 
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^seguridad\/articulos\-seguridad$ "https\:\/\/tellsenales\.com\/seguridad\/c\/articulos\-seguridad\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^seguridad\/articulos\-seguridad\/$ "https\:\/\/tellsenales\.com\/seguridad\/c\/articulos\-seguridad\/" [R=301,L]

# Ropa Seguridad
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^seguridad\/ropa\-seguridad$ "https\:\/\/tellsenales\.com\/seguridad\/c\/ropa\-seguridad\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^seguridad\/ropa\-seguridad\/$ "https\:\/\/tellsenales\.com\/seguridad\/c\/ropa\-seguridad\/" [R=301,L]

# Lucha contra incendio
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^seguridad\/lucha\-contra\-incendio$ "https\:\/\/tellsenales\.com\/seguridad\/c\/lucha\-contra\-incendio\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^seguridad\/lucha\-contra\-incendio\/$ "https\:\/\/tellsenales\.com\/seguridad\/c\/lucha\-contra\-incendio\/" [R=301,L]

# Viniles
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^seguridad\/viniles$ "https\:\/\/tellsenales\.com\/seguridad\/c\/viniles\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^seguridad\/viniles\/$ "https\:\/\/tellsenales\.com\/seguridad\/c\/viniles\/" [R=301,L]

# Senales viales
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/viales\/$ "https\:\/\/tellsenales\.com\/posts\/senales\-viales\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/viales$ "https\:\/\/tellsenales\.com\/posts\/senales\-viales\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/viales\/preventivas$ "https\:\/\/tellsenales\.com\/senales\/c\/viales\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/viales\/reguladoras$ "https\:\/\/tellsenales\.com\/senales\/c\/viales\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/viales\/informativas$ "https\:\/\/tellsenales\.com\/senales\/c\/viales\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/viales\/turisticas$ "https\:\/\/tellsenales\.com\/senales\/c\/viales\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/viales\/preventivas\/$ "https\:\/\/tellsenales\.com\/senales\/c\/viales\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/viales\/reguladoras\/$ "https\:\/\/tellsenales\.com\/senales\/c\/viales\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/viales\/informativas\/$ "https\:\/\/tellsenales\.com\/senales\/c\/viales\/" [R=301,L]

# senales Fotoluminiscentes
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/fotoluminiscentes$ "https\:\/\/tellsenales\.com\/posts\/senales\-fotoluminiscentes\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/fotoluminiscentes\/$ "https\:\/\/tellsenales\.com\/posts\/senales\-fotoluminiscentes\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/fotoluminiscentes\/evacuacion$ "https\:\/\/tellsenales\.com\/senales\/c\/fotoluminiscentes\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/fotoluminiscentes\/incendio$ "https\:\/\/tellsenales\.com\/senales\/c\/fotoluminiscentes\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/fotoluminiscentes\/advertencia$ "https\:\/\/tellsenales\.com\/senales\/c\/fotoluminiscentes\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/fotoluminiscentes\/prohibicion$ "https\:\/\/tellsenales\.com\/senales\/c\/fotoluminiscentes\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/fotoluminiscentes\/obligaction$ "https\:\/\/tellsenales\.com\/senales\/c\/fotoluminiscentes\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/fotoluminiscentes\/evacuacion\/$ "https\:\/\/tellsenales\.com\/senales\/c\/fotoluminiscentes\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/fotoluminiscentes\/incendio\/$ "https\:\/\/tellsenales\.com\/senales\/c\/fotoluminiscentes\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/fotoluminiscentes\/advertencia\/$ "https\:\/\/tellsenales\.com\/senales\/c\/fotoluminiscentes\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/fotoluminiscentes\/prohibicion\/$ "https\:\/\/tellsenales\.com\/senales\/c\/fotoluminiscentes\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/fotoluminiscentes\/obligaction\/$ "https\:\/\/tellsenales\.com\/senales\/c\/fotoluminiscentes\/" [R=301,L]

# senales Seguridad
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/seguridad/evacuacion$ "https\:\/\/tellsenales\.com\/senales\/c\/seguridad\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/seguridad/prohibicion$ "https\:\/\/tellsenales\.com\/senales\/c\/seguridad\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/seguridad/obligacion$ "https\:\/\/tellsenales\.com\/senales\/c\/seguridad\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/seguridad/advertencia$ "https\:\/\/tellsenales\.com\/senales\/c\/seguridad\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/seguridad/incendio$ "https\:\/\/tellsenales\.com\/senales\/c\/seguridad\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/seguridad\/evacuacion\/$ "https\:\/\/tellsenales\.com\/senales\/c\/seguridad\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/seguridad\/prohibicion\/$ "https\:\/\/tellsenales\.com\/senales\/c\/seguridad\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/seguridad\/obligacion\/$ "https\:\/\/tellsenales\.com\/senales\/c\/seguridad\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/seguridad\/advertencia\/$ "https\:\/\/tellsenales\.com\/senales\/c\/seguridad\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/seguridad\/incendio\/$ "https\:\/\/tellsenales\.com\/senales\/c\/seguridad\/" [R=301,L]

# senales obras
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/obras\/preventivas$ "https\:\/\/tellsenales\.com\/senales\/c\/obras\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/obras\/epps$ "https\:\/\/tellsenales\.com\/senales\/c\/obras\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/obras\/tranqueras$ "https\:\/\/tellsenales\.com\/senales\/c\/obras\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/obras\/preventivas\/$ "https\:\/\/tellsenales\.com\/senales\/c\/obras\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/obras\/epps\/$ "https\:\/\/tellsenales\.com\/senales\/c\/obras\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/obras\/tranqueras\/$ "https\:\/\/tellsenales\.com\/senales\/c\/obras\/" [R=301,L]


# senales covid 
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^senales\/covid\/bioseguridad$ "https\:\/\/tellsenales\.com\/senales\/c\/covid-19\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^seguridad\/tacha-reflectiva\-amarilla\-3\-m\/$ "https\:\/\/tellsenales.com\/seguridad\/tacha\-reflectiva\-amarilla\-3m\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^seguridad/cinta\-refleclite\-2\-x45\-7mts\-amarillo\-limon\-reflexlite$ "https\:\/\/tellsenales.com\/seguridad\/cinta\-amarillo\-limon\-2\-x45\-7mts\-reflexlite\/" [R=301,L]

