---
import manifest from '../../config/manifest.json'
import Category from './category.astro'
---

<nav>
  {
    manifest.routes.map(({ title, routes }) => {
      return (
        <ul>
          <h2>{title}</h2>
          <Category routes={routes} />
        </ul>
      )
    })
  }
</nav>
