---
import MainLayout from "@layouts/main-layout.astro";
const content = {
  title: 'Contacta con nosotros',
  description: 'Contacto con Tell Señales para mayor información y ateción personalizada',
}
---
<MainLayout {content}>
  <h1>Contacto</h1>
</MainLayout>
