---
import SplashLayout from "@layouts/splash-layout.astro";
---
<SplashLayout title='No encontrado 🚀'>
        <h1 class="text-center">404</h1>
  <p>No encontramos la página que esta buscando</p>
        <a href="/"> Llevame al Inicio 😅 </a>
</SplashLayout>
