---
import Layout from '../layouts/main-layout.astro'
import HelloWorld from '@components/hello-world.astro';
---
<Layout title='Inicio'>
  Empezamos
  <button>Click</button>
  <hr />
  <HelloWorld />
</Layout>
