<hero-card class="relative">
    <div class="mt-24 flex-none lg:-mt-12 lg:w-80">
        <div class="mx-auto w-[19.25rem] lg:w-[23.75rem] js-tilt relative">
            <div class="pointer-events-none">
                <div
                    class="absolute -right-14 top-16 h-px w-[400%] bg-gradient-to-l from-slate-400 opacity-20"
                >
                </div><div
                    class="absolute left-full top-16 ml-14 h-px w-screen bg-slate-400 opacity-20"
                >
                </div><div
                    class="absolute top-[-135%] bottom-[-65%] right-11 w-px opacity-20"
                    style="background-image:linear-gradient(to bottom, rgba(148, 163, 184, 0) 30%, rgb(148, 163, 184), rgba(148, 163, 184, 0))"
                >
                </div><div
                    class="absolute -right-24 -bottom-16 h-px w-[400%] opacity-30"
                    style="background-image:linear-gradient(to right, rgba(119, 185, 250, 0) 60%, rgb(119, 185, 250) 77%, rgba(119, 185, 250, 0) 94%)"
                >
                </div><div
                    class="absolute top-[-120%] bottom-[-80%] -left-12 w-px opacity-20"
                    style="background-image:linear-gradient(to bottom, rgba(148, 163, 184, 0) 30%, rgb(148, 163, 184), rgba(148, 163, 184, 0))"
                >
                </div>
                <div
                    class="absolute top-16 -left-80 mt-[-0.5px] h-[2px] w-28 rounded-full bg-gradient-to-r from-blue-500"
                >
                </div>
                <div
                    class="absolute -left-12 bottom-8 ml-[-0.5px] h-28 w-[2px] rounded-full bg-gradient-to-t from-violet-400"
                >
                </div>
            </div>
            <img
                class="-mt-16 w-full h-auto md:mt-0"
                src="/assets/images/hero-layout.webp"
                alt="Fabricacion de señales layout home page"
                width="499"
                height="600"
                class="relative"
            />
        </div>
    </div>
</hero-card>
<style>
    .js-tilt {
        transform: perspective(1000px) rotateX(var(--rot-x, 0deg))
            rotateY(var(--rot-y, 0deg)) scale3d(1, 1, 1);
        transform-style: preserve-3d;
        transition: transform 600ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .js-tilt:hover {
        transition: none;
    }
</style>

<script>
    function clamp(min: number, max: number, t: number) {
        return Math.min(Math.max(t, min), max)
    }
    function lerp(v0: number, v1: number, t: number) {
        return v0 * (1 - t) + v1 * t
    }
    class HeroCard extends HTMLElement {
        x = 0
        y = 0
        rect: DOMRect
        interval: any
        constructor() {
            super()
            if (!('matchMedia' in window)) return
            const motionSafe = window.matchMedia(
                '(prefers-reduced-motion: no-preference)'
            ).matches
            const canHover = window.matchMedia('(hover: hover)').matches
            if (motionSafe && canHover) {
                window.addEventListener('resize', () => this.resize())
                this.addEventListener('mousemove', (event) =>
                    this.move(event as MouseEvent)
                )
                this.addEventListener('mouseleave', (event) => {
                    if ((event.target as Element).isSameNode(this)) {
                        this.reset()
                    }
                })
            }
        }
        connectedCallback() {
            this.resize()
        }
        resize() {
            this.rect = this.getBoundingClientRect()
            this.reset()
        }
        move(e: MouseEvent) {
            const x = (e.pageX - this.rect.left) / this.rect.width - 0.5
            const y = (e.pageY - this.rect.top) / this.rect.height - 0.5
            const nx = 5
            const ny = 7.5
            const horiztonal = clamp(nx * -1, nx, lerp(nx * -1, nx, x * 2))
            const vertical = clamp(ny * -1, ny, lerp(ny, ny * -1, y * 2))
            requestAnimationFrame(() => {
                this.style.setProperty('--rot-x', `${vertical}deg`)
                this.style.setProperty('--rot-y', `${horiztonal}deg`)
            })
        }
        reset() {
            requestAnimationFrame(() => {
                this.style.setProperty('--rot-x', `0deg`)
                this.style.setProperty('--rot-y', `0deg`)
            })
        }
    }

    customElements.define('hero-card', HeroCard)
</script>
