<header class="min-h-[calc(100vh-4rem)] overflow-hidden">
  <div
    class="px-4 sm:px-6 md:max-w-2xl md:px-4 lg:max-w-7xl lg:px-8 mx-auto md:mt-24"
  >
    <div class="lg:flex">
      <div class="flex-auto">
        <h1 class="hero__title">Tienes un proyecto de Señalización?</h1><p
          class="mt-6 max-w-3xl text-2xl leading-[2.5rem] tracking-tight sm:text-center lg:text-left"
        >
          Cotiza con nosotros, somos fabricante de todo tipo de señales con más
          de 10 años de experiencia.
        </p><div class="mt-12 hidden lg:flex">
          <button
            type="button"
            class="bg-primary rounded-full py-2 px-10 text-white hover:bg-primary-dark">Señales</button
          ><a
            href="#get-refactoring-ui"
            class="py-2 px-10 border text-inherit shadow-sm rounded-full ml-4"
            >Seguridad</a
          >
        </div>
      </div>
      <div class="relative mt-24 flex-none lg:mt-0 lg:w-80">
        <div
          class="top-1/2 left-8 mx-auto w-[19.25rem] rotate-12 lg:absolute lg:w-[23.75rem] lg:-translate-y-1/2"
        >
          <div class="pointer-events-none">
            <div
              class="absolute -right-14 top-16 h-px w-[400%] bg-gradient-to-l from-slate-400 opacity-20"
            >
            </div><div
              class="absolute left-full top-16 ml-14 h-px w-screen bg-slate-400 opacity-20"
            >
            </div><div
              class="absolute top-[-135%] bottom-[-65%] right-11 w-px opacity-20"
              style="background-image:linear-gradient(to bottom, rgba(148, 163, 184, 0) 30%, rgb(148, 163, 184), rgba(148, 163, 184, 0))"
            >
            </div><div
              class="absolute -right-24 -bottom-16 h-px w-[400%] opacity-30"
              style="background-image:linear-gradient(to right, rgba(119, 185, 250, 0) 60%, rgb(119, 185, 250) 77%, rgba(119, 185, 250, 0) 94%)"
            >
            </div><div
              class="absolute top-[-120%] bottom-[-80%] -left-12 w-px opacity-20"
              style="background-image:linear-gradient(to bottom, rgba(148, 163, 184, 0) 30%, rgb(148, 163, 184), rgba(148, 163, 184, 0))"
            >
            </div>
            <div
              class="absolute top-16 -left-80 mt-[-0.5px] h-[2px] w-28 rounded-full bg-gradient-to-r from-blue-500"
            >
            </div>
            <div
              class="absolute -left-12 bottom-8 ml-[-0.5px] h-28 w-[2px] rounded-full bg-gradient-to-t from-violet-400"
            >
            </div>
          </div>
          <img class='-mt-16 md:mt-0' src="/assets/hero-image.png" alt="" class="relative" />
        </div>
      </div>
    </div>
  </div>
</header>
<style>

  .hero__title {
    line-height: 1.2;
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(
      90deg,
      rgba(93, 0, 255, 1) 0%,
      rgba(149, 12, 213, 1) 35%,
      rgba(255, 0, 198, 1) 100%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  @media (min-width: 960px) {
    .hero__title {
      font-size: 4rem;
    }
  }

</style>
