---
import HeroCard from './hero-card.astro'
import Btn from '../../components/button/btn.astro'
---

<header class="min-h-[calc(100vh-4rem)] overflow-hidden">
    <div
        class="px-4 sm:px-6 md:max-w-2xl md:px-4 lg:max-w-7xl lg:px-8 mx-auto md:mt-24"
    >
        <div class="lg:flex">
            <div class="flex-auto">
                <h1
                    class="hero__title mt-6 max-w-3xl text-4xl md:text-7xl leading-[2.5rem] tracking-tight sm:text-center lg:text-left mb-4"
                >
                    ¿Tienes un proyecto de Señalización?
                </h1>
                <p class="text-xl md:text-2xl max-w-3xl">
                    Cotiza con nosotros, somos fabricante de todo tipo de
                    señales con más de 10 años de experiencia.
                </p>
                <div class="mt-12 hidden space-x-4 lg:flex">
                    <Btn size="xl" color="primary" href="/senales">Señales</Btn>

                    <Btn size='xl' href="/seguridad" color="outline">Seguridad</Btn>
                </div>
            </div>
            <HeroCard />
        </div>
    </div>
</header>
<style>
    .hero__title {
        line-height: 1.2;
        font-weight: 700;
        background: linear-gradient(
            90deg,
            rgba(93, 0, 255, 1) 0%,
            rgba(149, 12, 213, 1) 35%,
            rgba(255, 0, 198, 1) 100%
        );
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
</style>
