:root {
  --colors-gray50: #f1f3f5;
  --colors-gray100: #eceef0;
  --colors-gray200: #e6e8eb;
  --colors-gray300: #dfe3e6;
  --colors-gray400: #d7dbdf;
  --colors-gray500: #c1c8cd;
  --colors-gray600: #889096;
  --colors-gray700: #7e868c;
  --colors-gray800: #687076;
  --colors-gray900: #11181c;
}
