---
interface Img {
  url: string
  title: string
}

interface Sys {
  id: string
}
export interface Props {
  slug: string
  name: string
  marca: string
  price: number
  sku: string | null
  offert: number | null
  img1: Img
  sys: Sys
}

const { product } = Astro.props
---

<a href={`/seguridad/${product.slug}`}>
  <div class="product-card shadow-lg rounded-lg">
    <div class="relative h-0 w-full pb-[100%]">
      <img
        class="absolute inset-0 max-h-[155px] m-auto max-w-[85%]"
        src={product.img1.url}
      />
    </div>
    <div class="product-card__body p-2">
      <span>{product.marca || product.sku}</span>
      <div class="min-h-[50px]">
        <p class="text-xs">{product.name}</p>
      </div>
    </div>
  </div>
</a>
<style>

</style>
