---
const { navigation = [] } = Astro.props
const currentPage = Astro.url.pathname
---

<div class="mb-5">
  <div class="flex h-[135px] items-center overflow-x-scroll overflow-y-hidden">
    {
      navigation.map(
        ({
          icon,
          path,
          title
        }: {
          icon: string
          path: string
          title: string
        }) => {
          const isActive = currentPage === path
          return (
            <div class="px-5">
              <a class="bubble__link" href={path}>
                <div
                  class={`bubble__img-container ${
                    isActive && 'animate-bounce'
                  }`}
                >
                  <span class={`bubble__canvas`}>
                    <span class="bubble__img-span">
                      <img
                        src={`/icons${icon?.replace('.svg', '')}-light.svg`}
                        alt={title}
                      />
                    </span>
                  </span>
                </div>
                <div class="bubble__text">{title}</div>
              </a>
            </div>
          )
        }
      )
    }
  </div>
</div>
<style>
  /* BUBBLE STYLES */
  .bubble__link {
    position: relative;
    align-items: center;
    align-self: center;
    border: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 64px;
  }

  .bubble__img-container {
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: center;
  }

  .bubble__canvas {
    --color-a: rgb(93, 95, 255);
    --color-b: #ffadf8;
    width: 63px;
    height: 63px;
    border-radius: 100%;
    background: rgb(93, 95, 255);
    background: conic-gradient(var(--color-b), var(--color-a), indigo, pink);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bubble__img-span {
    width: 56px;
    height: 56px;
    background-color: #ffadf8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    border: 2px solid #fff;
  }

  .bubble__img-span img {
    width: 45px;
    height: 45px;
    object-fit: contain;
  }

  .bubble__text {
    display: block;
    font-size: 12px;
    line-height: 16px;
    max-width: 74px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 4px;
  }
</style>
