---
import MainLayout from '../../layouts/main-layout.astro'
import { getAllSenales } from '../../lib/contentful-request'
import ProductCard from '@components/product-card.astro'

const products = await getAllSenales()
const content = {
  title: 'Señales Seguridad',
  description: 'Fabricación de todo tipo de señales de seguridad',
  image: '/assets/images/banner-seguridad.webp'
}
---

<MainLayout {content} >
  <div>
    <ul class="grid grid-cols-2 md:grid-cols-4 gap-2">
      {products.map(product => <ProductCard product={product} />)}
    </ul>
  </div>
</MainLayout>
