:root.dark {
 /* Background Color */
--aa-icon-size: 40px;
--aa-background-color-rgb: 21,13,28;
--aa-background-color-alpha: 1;
--aa-input-background-color-rgb: 21,13,28;
--aa-input-background-color-alpha: 1;

/* text Color */
--aa-text-color-rgb: 255, 255, 255;
--aa-text-color-alpha: 1; 
--aa-input-background-color-alpha: 0.9;
--aa-primary-color-rgb: 100, 25, 230;
--aa-primary-color-alpha: 1;

--aa-selected-color-rgb: var(--aa-primary-color-rgb) ;
--aa-selected-color-rgb-alpha: 1 ;

--aa-description-highlight-background-color-rgb: 255, 0, 0;
--aa-scrollbar-track-background-color-rgb: 100, 25, 230;
--aa-scrollbar-track-background-color-alpha: 1;

}

:root {
--aa-icon-size: 40px;
--aa-background-color-rgb: 255,255,255;
--aa-background-color-alpha: 1;
--aa-input-background-color-rgb: 255,255,255;
--aa-input-background-color-alpha: 1;
/* --aa-selected-color-rgb: ; */
/* --aa-selected-color-alpha: ; */
}

.aa-Panel {
  z-index: 100;
  margin-top: 1.8rem;
}

.aa-DetachedSearchButtonPlaceholder {
  width: 500px;
}

.aa-Form {
  background: transparent;
  border-radius: 2rem;
  height: 40px;
}

.aa-DetachedSearchButton {
  background: transparent;
  border-radius: 2rem;
  height: 40px;
}

.aa-SubmitButton {
  width: 47px;
}

