---
import BaseHead from '../components/baseHead.astro'
import Navbar from '../layouts/navbar/index.jsx'
import '../styles/index.css'

const { title, description, image} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image}  />
  </head>
  <body>
    <Navbar client:visible />
    <slot />
  </body>
</html>
