---
import HeadCommon from '../components/head-common.astro'
import HeadSEO from '../components/head-seo.astro'
import Header from '../layouts/header/header.astro'
import Footer from './footer/index.astro'

const { content = {} } = Astro.props
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <HeadCommon />
    <HeadSEO {content} {canonicalURL} />
    <title>{content.title}</title>
    <script is:inline>
      const theme = (() => {
        if (localStorage.getItem('theme')) {
          return localStorage.getItem('theme')
        }

        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark'
        }

        return 'light'
      })()

      if (theme === 'light') {
        document.documentElement.classList.remove('dark')
      } else {
        document.documentElement.classList.add('dark')
      }
    </script>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
