---
import LeftSidebar from '@components/left-sidebar/left-sidebar.astro'
import RightSidebar from '@components/right-sidebar/right-sidebar.astro'
import Header from './header/header.astro'
import PageContent from './page-content.astro'
import WhatsappBtnPopup from '@components/whatsapp-btn-popup' 
import AttentionFloating from '@components/attention-floating.astro'
import HeadMain from '@components/head-main.astro'

export interface Props {
  hideRightSidebar?: boolean
}
---

<html dir="ltr" lang="es">
  <head>
    <HeadMain />
  </head>
  <body>
    <main>
      <Header />
      <aside class="sidebar" id="left-sidebar">
        <LeftSidebar />
      </aside>
      <div class="main-column" id="main-content">
        <PageContent>
          <slot />
        </PageContent>
      </div>
      <aside class="sidebar" id="right-sidebar">
        <RightSidebar />
      </aside>
      <WhatsappBtnPopup client:load />
      <AttentionFloating />
    </main>
  </body>
</html>
