---
import BaseLayout from './base-layout.astro'
const { title, description, image} = Astro.props

---
<BaseLayout title={title} description={description} image={image}>
  <main class="overflow-hidden">
     <slot />
  </main>
</BaseLayout>
