---
import BaseHead from '../components/baseHead.astro'
import Navbar from './navbar'
import '../styles/index.css'
// import { toCustomPropertiesArray, toCustomPropertiesString } from 'object-to-css-variables'
// console.log(toCustomPropertiesString(ob ))

const { title, description, image } = Astro.props



---
<!DOCTYPE html>
<html lang="en">
    <head>
      <BaseHead />
      </head>
  <body>
    <Navbar client:visible />
    <button>Toggle theme</button>
    <main style="min-height: 100vh;">
      <slot />
    </main>
  </body>
</html>

