---
import BaseLayout from './base-layout.astro'
import PageContent from '@components/page-content/page-content.astro'
import PostsRightSidebar from '@components/right-sidebar/posts-right-sidebar.astro'
import TableOfContentMobile from '@components/right-sidebar/table-of-content-mobile'

import { getNavLinks } from '@utils/get-nav-links'
const { previous, next } = getNavLinks(Astro)
const { content = {} } = Astro.props
const headings = Astro.props.headings
---

<BaseLayout {...Astro.props}>
  <PostsRightSidebar slot="secondary-sidebar" {...{content, headings}} />
  <PageContent {...{content, previous, next}}>
    {
      headings && (
        <Fragment slot="before-article">
          <nav>
            <TableOfContentMobile
              client:media="(max-width: 72em)"
              headings={headings}
            />
          </nav>
        </Fragment>
      )
    }
    <slot />
  </PageContent>
</BaseLayout>
