---
import BaseLayout from '../layouts/base-layout.astro'
import Sidebar from '@components/sidebar'
const { title, description , image } = Astro.props
---
<BaseLayout title={title} descriptio={description} image={image}>
  <main class="container flex">
    <div class="w-[32%]">
      <div class="fixed top-16">
        <Sidebar />
      </div>
    </div>
    <slot />
  </main>
</BaseLayout>
