---
import BaseLayout from '../layouts/base-layout.astro'
const { title, description , image } = Astro.props
---
<BaseLayout title={title} descriptio={description} image={image}>
  <main class="container flex">
    <slot />
  </main>
</BaseLayout>
