---
import FooterLogos from './footer-logos.astro'
import FooterLinks from './footer-links.astro'
import FooterInfo from './footer-info.astro'
---

<footer class="footer max-w-7xl mx-auto py-20 md:py-12 px-4 ">
  <div class="container">
    <FooterLinks />
    <FooterLogos />
    <FooterInfo />
  </div>
</footer>
