---
import FooterLogos from './footer-logos.astro'
import FooterLinks from './footer-links.astro'
---

<footer class="py-16 text-zinc-500 bg-zinc-800">
  <div class="container">
    <FooterLinks />
    <FooterLogos />
  </div>
</footer>
