---
import FooterLogos from './footer-logos.astro'
import FooterLinks from './footer-links.astro'
import FooterInfo from './footer-info.astro'
---

<footer class="footer">
  <div class="container">
    <FooterLinks />
    <FooterLogos />
    <FooterInfo />
  </div>
</footer>
<style>
.footer {
  background: var(--colors-accents1);
  color: var(--colors-accents7);
  @apply py-16
}
</style>
